.answer-container {
  padding: 20px;
  max-width: 30%;
  // margin: auto;

  .question_text {
    font-weight: bold;

    >p,
    >span {
      display: inline-block;
    }

    .alert {
      color: red;
    }
  }

  .question_seleted {
    padding: 0;
  }

  .h-textarea {
    min-height: 116px;
    width: 100%;
  }

  .add_new_answer>a {
    text-decoration: underline;
  }

  .review-answer {
    float: right;
  }

  ul {
    list-style-type: none;
    margin-top: 4px;
  }
}

.back-to-form {
  margin-top: 30px;

  >a {
    text-decoration: underline;
    cursor: pointer;
  }
}
